body {
  margin: 0;
  overflow: hidden;
  cursor: url("/src/assets/cursor.png") 8 8, auto;
}

.app-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.tv-wrapper{
  position: relative;
  aspect-ratio: 1920 / 1080;
  height: 100vh;
  max-width: 100vw;
}

.tv-foreground{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  pointer-events: none;
  z-index: 666;
}

.tv-screen-content{
  position: absolute;
  top: 8%;
  left: 3.5%;
  width: 85%;
  height: 80%;
  overflow: hidden;
  border: 5% / 6%;
}

.world-container {
  width: 90%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.world-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-out;
}

.world-map {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hover-item{
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: url("/src/assets/cursor.png") 16 16, auto;
  z-index: 6;
}

.building{
  transition: transform 0.3s ease;
}

/* White outline effect */
.hover-item:hover .building {
  transform: scale(1);
  filter: 
  drop-shadow(4px 0 0 white)
  drop-shadow(-4px 0 0 white)
  drop-shadow(0 4px 0 white)
  drop-shadow(0 -4px 0 white);
}

/* Label styling */
.label{
  position: absolute;
  bottom: 110%;
  left: 60%;
  transform: translateX(-50%);
  background: white;
  padding:  6px 14px;
  border-radius: 20px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

/* Show label on hover */
.hover-item:hover .label {
  opacity: 1;
}

/* Hover wordings */
.hover-word {
  width: 90px;
}

/* Buildings size*/
.statue-size{
  width: 150px;
}

.journey-size{
  width: 600px;
}

.projects-size{
  width: 340px;
}

.playground-size{
  width: 200px;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 7%;
  left: 3%;
  width: 83%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  z-index: 1000;
  pointer-events: none; /* Important */
}

.nav-left,
.nav-center,
.nav-right {
  pointer-events: auto; /* So icons are clickable */
}

.nav-left {
  font-size: 28px;
  cursor: pointer;
}

.nav-center {
  top: 50%;
}

.heading-style{
  width: 140px;
}

.nav-right {
  display: flex;
  gap: 20px;
  font-size: 20px;
  cursor: pointer;
}

.building-wrapper {
  position: relative;
}

.building {
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: pixelated;
  transition: opacity 0.15s ease;
}

/* default state */
.building.hover {
  opacity: 0;
}

/* hover switch */
.hover-item:hover .building.hover {
  opacity: 1;
}

/* JOURNEY PAGE */

.journey-container {
  position: relative;
  width: 90%;
  height: 100%;
  overflow: hidden;
  background: #2e7a52;
}

.journey-bg {
  position: absolute;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.journey-floor {
  position: absolute;
  object-fit: cover;
  height: 100%;
}

.statue-row {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 100%;
  transform: translateX(0);
  display: flex;
  align-items: flex-end; /* important */
  gap: 120px;
  transition: transform 0.5s ease;
  z-index: 3;
}

.statue {
  height: 580px; /* uniform size */
  flex-shrink: 0;
  object-fit: contain;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0.8;
}

.statue.active {
  opacity: 1;
}

.statue-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 380px;
}

/* Spotlight */
.spotlight {
  position: absolute;
  top: 98px;
  width: 75px;
  pointer-events: none;
  z-index: 1;
  opacity: 0.6 ;
  filter: brightness(1);
  transition: opacity 0.4s ease, filter 0.4s ease;
}

.statue-wrapper.active .spotlight{
  opacity: 1;
  filter: brightness(2) drop-shadow(0 0 20px rgba(255,255,200,0.8));
}

.statue-wrapper.active .statue{
  transform: scale(1.05);
  opacity: 1;
}

.spotlight-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  z-index: 4;
  pointer-events: none;
}

.statue {
  position: relative;
  z-index: 2;
}

/* Navigation Arrows */
.journey-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  transition: transform 0.2s ease;
}

.journey-nav img {
  width: 100px;
  image-rendering: pixelated;
}

.journey-nav.left {
  left: 40px;
}

.journey-nav.right {
  right: 40px;
}

.journey-nav:hover {
  transform: translateY(-50%) scale(1.1);
}

.journey-nav:active {
  transform: translateY(-50%) scale(0.95);
}

/*SCROLL*/
.scroll-overlay{
  position: fixed;
  top: 80px;;
  left:0;
  width:88%;
  height:76%;

  background: rgba(0,0,0,0.55);

  display:flex;
  justify-content:center;
  align-items:flex-start;

  padding-top:100px;

  overflow-y:auto;   /* THIS ENABLES PAGE SCROLL */
  z-index:10;
}

.scroll-popup{
  animation: scrollOpen 0.5s ease;
  scroll-behavior: smooth;
  width: 600px;
  padding: 80px 90px;
  background-repeat: repeat-y;
  background-position: top center;
  background-size: 100% auto;
  text-align: center;
  position: relative;
}

.scroll-popup::-webkit-scrollbar{
  width: 6px;
}

.scroll-popup::-webkit-scrollbar-thumb{
  background: #b89a63;
  border-radius: 10px;
}

@keyframes scrollOpen{
  0%{
    transform:scale(0.7) translateY(40px);
    opacity:0;
  }

  100%{
    transform:scale(1) translateY(0);
    opacity:1;
  }
}

.close-btn{
position:absolute;
top:15px;
right:15px;
background:none;
border:none;
font-size:24px;
cursor:pointer;
}

.scroll-content{
  max-width: 900px;
  margin: auto;
  padding: 80px 90px;
}

/* PROJECTS PAGE */
.projects-container {
  position: relative;
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.projects-bg {
  position: absolute;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  z-index: 1;
}

.buildings-row {
  position: absolute;
  bottom: 3px;
  left: 5%;
  display: flex;
  align-items: flex-end;
  transition: transform 0.5s ease;
  z-index: 3;
}

.building-slot {
  flex-shrink: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  cursor: pointer;
}

.project-building {
  height: 460px;
  object-fit: contain;
  image-rendering: pixelated;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.building-slot.active:hover .project-building {
  filter: 

    drop-shadow(0 4px 0 white)
    drop-shadow(0 -4px 0 white);
}

.project-building.hover {
  opacity: 0;
  position: absolute;
  bottom: 80%;   /* sits above the building */
  left: 30%;
  transform: translateX(-50%);
  height: 60px;   /* override the 460px */
  width: auto;   /* adjust to your label PNG size */
  transition: opacity 0.15s ease;
}

.building-slot.active:hover .project-building.hover {
  opacity: 1;
}




/* Dots */
.projects-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  z-index: 10;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: background 0.3s ease;
}

.dot-active {
  background: white;
}